# PlatformIO — директория сборки (бинарники, объектные файлы, кэш)
.pio/

# VS Code — настройки рабочей области
.vscode/

# оставляем, даже если нет своих библиотек
# lib/

# Артефакты сборки и временные файлы
*.o
*.a
*.bin
*.elf
*.map
*.hex

# Файлы окружения (секреты, пароли) — если появятся
.env
*.env

# OS-специфичные файлы
.DS_Store
Thumbs.db
